.HomeFooterSection {
  background-color: #2f2f2f;
  margin-left: -10px;
  margin-right: -8px;
  margin-bottom: -8px;
}

.footerHomeContentAll {
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  text-align: center;
}

.copyRight2022 {
  font-family: Roboto;
  font-size: 14;
  color: #bdbcba;
}
