.sectionSixBodyHome {
  background-color: #8f9091;
  margin-left: -10px;
  margin-right: -8px;
}

.SectionSixTitleandContent {
  padding: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
  justify-content: center;
}

.secSixTitle {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.secSixcontent {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
}
