.sectionTwoBodyHome {
  background-image: url(https://i.postimg.cc/L41r6Khc/blue-Blur2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -10px;
}

.sectionTwoHomeHeader {
  font-family: Roboto;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}

.css-ttd4sk-MuiStack-root {
  justify-content: space-between;
}

.sectionTwoTitles {
  font-family: Roboto;
  font-weight: 600;
}
